body {
    background-color: #eeedf3;
    font-size: 22px; font-family: Arial, sans-serif; 
}
h1 {
    background-color: rgb(26, 167, 209);
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
}
h2 {
    background-color: rgb(75, 19, 198);
    text-align: center;
    padding: 7px;
    border: 2px solid rgb(0, 0, 0);
}
